<launch>
    <node name="joystick1" pkg="joy" type="joy_node">
        <remap from="/joy" to="/joy0"/>
        <param name="dev" type="string" value="/dev/input/by-id/usb-Thrustmaster_T.Flight_Hotas_One-joystick"/>
        <param name="coalesce_interval" type="double" value="0.05"/>
    </node>

    <node name="joystick2" pkg="joy" type="joy_node">
        <remap from="/joy" to="/joy1"/>
        <param name="dev" type="string" value="/dev/input/by-id/usb-Sony_Interactive_Entertainment_Wireless_Controller-if03-joystick" />
    </node>

    <node name="teleop" pkg="urc2022" type="teleop"/>
    <node name="uno" pkg="urc2022" type="ldcontroluno.py"/>
    <node name="mega" pkg="urc2022" type="ldcontrolmega.py"/>
</launch>
